@import "tailwindcss";

@font-face {
    font-family: "Inter";
    src: url("/src/assets/inter.woff2") format("woff2");
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
}

@custom-variant can-hover "@media (hover: hover) and (pointer: fine)";

@theme {
    --font-sans: "Inter", system-ui, sans-serif;

    --color-terminal-bg: #1e1f23;
    --color-terminal-blue: #66b2c0;
    --color-terminal-green: #608768;
    --color-terminal-orange: #af7c66;

    --animate-wave: wave 6s ease-in-out infinite;
    --animate-marquee: marquee 20s linear infinite reverse;

    @keyframes wave {
        /* First wave */
        0% {
            transform: rotate(0deg);
        }
        10% {
            transform: rotate(-15deg);
        }
        20% {
            transform: rotate(15deg);
        }

        /* Second wave */
        30% {
            transform: rotate(-15deg);
        }
        40% {
            transform: rotate(15deg);
        }

        /* Third wave */
        50% {
            transform: rotate(-15deg);
        }
        60% {
            transform: rotate(15deg);
        }

        /* PAUSE - Keeps stopped from 70% to 100% */
        70%,
        100% {
            transform: rotate(0deg);
        }
    }
    @keyframes marquee {
        0% {
            transform: translateX(-100%);
        }

        100% {
            transform: translateX(100dvw);
        }
    }
}

@custom-variant dark (&:is(.dark *));

html {
    @apply scroll-smooth;
}
