@import "tailwindcss";

@font-face {
    font-family: "Inter";
    src: url("/src/assets/inter.woff2") format("woff2");
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
}

@theme {
    --font-sans: "Inter", system-ui, sans-serif;
}
